
### VisualStudioCode ###
!.vscode/*.code-snippets

# Local History for Visual Studio Code

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/linux,visualstudiocode,aspnetcore,csharp
